<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.sportsboards" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:name="com.sportsboards.launcher.Launcher"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:configChanges="orientation" android:name="com.sportsboards.SoccerBoard"/>
		
	</application>
<supports-screens android:largeScreens="true"></supports-screens>
<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="7"></uses-sdk>
</manifest> 